body {
  margin: 10%;
  background-color: GainsBoro;
}

div {
  padding: 2%;
}

.container{
  background-color: white;
  display: table-cell;
}

.main-img{
  max-width: 100%;
  border-radius: 50%;
  margin-top: -8vh;
  border: 5px solid GainsBoro;
}

.highlighted {
  color: orange;
}

.no-bullets {

	list-style-type: none;
	padding: 0;
}

.hobbies li {

	display: inline-block;
	float: left;
	margin-right: 0.5vw;
	margin-bottom: 3vw;
	padding: 1%;
	background-color: rgb(169, 0, 0);
	color: white;
}


.bold {
  font-weight: bold;
}
.centered {
  text-align: center;
}

.upercase {
  text-transform: uppercase;
}

.no-margin{
  margin: 0.5em;
}

.back-grey {
  background-color: GainsBoro;
}

.small-text {
  font-size: 0.8rem;
  color: GainsBoro;
}

#py{
  width: 100%
}

#html{
  width: 80%
}

#css{
  width: 60%
}

#js{
  width: 40%
}

#php{
  width: 20%
}

.footer{
  text-align: right;
  margin-bottom: 0px;
}

.skills{
  background-color: orange;
	color: white;
	font-weight: bold;
	margin-bottom: 0.3vw;
	padding: 0.2vw;
}

.en, .es, .pt {
  border-bottom: 1px solid lightgrey;
	margin: 0;
}

.stargroup{
  float: right;
}
